body{
    background-color: lightgreen;
}

.calculadora {
    margin-top: 200px;
    text-align: center;
}

.calculadora input{
    color: white;
    width: 300px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(27, 27, 27);
}

.calculadora select{
    background-color: rgba(0, 128, 0, 0.788);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#resultado {
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 4px;
    font-size: 40px;
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}
